h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "bebas", sans-serif;
  color: #ffffff;
}
div,
p,
span,
ul,
li {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

ul {
  list-style-type: none;
}
a {
  color: aqua;
}
